literature/books/Feature_Extraction_in_Computer_Vision_and_Image_Processing-Mark_Nixon_2001.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/An_Image_Inpainting_Technique_Based_on_the_Fast_Marching_Method_Telea_2004.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/inpainting_algorithms/An_Image_Inpainting_Technique_Based_on_the_Fast_Marching_Method_2004JGraphToolsTelea.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/inpainting_algorithms/Fast_Digital_Image_Inpainting_Oliveira_2001.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/inpainting_algorithms/Mathematical_Models_for_Local_deterministic_Inpaintings_Chan_2000.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/inpainting_algorithms/Multiscale_modelling_of_complex_fluids-A_mathematical_initiation_RR-6275_Le_Bris_2007.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/inpainting_algorithms/Pyramid-Based_Texture_Analysis_Synthesis_Heeger-siggraph95.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/inpainting_algorithms/sethian-1996-a-fast-marching-level-set-method-for-monotonically-advancing-fronts.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/filter_and_blur/A_Survey_of_Gaussian_Convolution_Algorithms_Getreuer_2013.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/filter_and_blur/Discrete_Approximations_of_Gaussian_Smoothing_and_Gaussian_Derivatives_Lindeberg_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/inpainting_algorithms/Inpainting_Bertalmio_annotated.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Computer_Vision_Algorithms_Applications_Szeliski_2ed_2021_draft.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Handbook_of_Computer_Vision_and_Applications_Vol1_Sensors_and_Imaging_Bernd_Jahne.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Handbook_of_Computer_Vision_and_Applications_Vol2_Signal_Processing_and_Pattern_Recognition_Bernd_Jahne.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/digital_image_processing_gonzales_4th_edition_2018.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Fundamentals_of_Image_Processing_Ian_T_Young_Delft_University_of_Technology.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Highly_Accurate_Dichotomous_Image_Segmentation_Qin_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/A_computational_approach_to_edge_detection_Canny_1986.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Building_skeleton_models_via_3-D_medial_surface-axis_thinning_algorithms_Lee_1994.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Marching_Cubes-A_High_Resolution_3D_Surface_Construction_Algorithm_lorenson-and-cline-1987.pdf diff=lfs merge=lfs -text
literature/articles/Snakes-Active_contour_models_Kass_IJCV_1988.pdf filter=lfs diff=lfs merge=lfs -text
docs/EdgeDetection_A_Farhadi_slides.pdf filter=lfs diff=lfs merge=lfs -text
docs/cds-scikit-image.pdf filter=lfs diff=lfs merge=lfs -text
docs/semantic_segmentation.pdf filter=lfs diff=lfs merge=lfs -text
docs/skimage.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Marching_Cubes-A_High_Resolution_3D_Surface_Construction_Algorithm_lorenson-and-cline-1987.pdf filter=lfs diff=lfs merge=lfs -text
src/demo_code/scikit-image-demo/images/NASA_observer.png filter=lfs diff=lfs merge=lfs -text
src/demo_code/scikit-image-demo/images/NASA_scientist.png filter=lfs diff=lfs merge=lfs -text
src/demo_code/scikit-image-demo/images/astronaut_in_weigthlessness.png filter=lfs diff=lfs merge=lfs -text
src/demo_code/scikit-image-demo/images/designer.png filter=lfs diff=lfs merge=lfs -text
src/demo_code/scikit-image-demo/images/engineer.png filter=lfs diff=lfs merge=lfs -text
src/demo_code/scikit-image-demo/images/high_level_meeting.png filter=lfs diff=lfs merge=lfs -text
src/demo_code/scikit-image-demo/images/high_level_visit.png filter=lfs diff=lfs merge=lfs -text
src/demo_code/scikit-image-demo/images/meeting.png filter=lfs diff=lfs merge=lfs -text
src/demo_code/scikit-image-demo/images/scientist.png filter=lfs diff=lfs merge=lfs -text
src/demo_code/scikit-image-demo/images/visitors.png filter=lfs diff=lfs merge=lfs -text
literature/books/2016_Book_DigitalImageProcessing.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Digital_Image_Processing_Gonzales_2017.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Principles_of_Digital_Image_Synthesis_v1.0.1.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/the-image-processing-handbook-Russ.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/principles-of-digital-image-processing-core-algorithms_Burger_and_Burge_2009.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/handbook-of-image-processing-and-computer-vision-vol1-from-energy-to-image.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/handbook-of-image-processing-and-computer-vision-volume-2-from-image-to-pattern-2.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/handbook-of-image-processing-and-computer-vision-volume-3-from-pattern-to-object.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/image-co-segmentation.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/image-segmentation-principles-techniques-and-applications_Lei_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/inpainting_algorithms/Image_Inpainting_bertalmio_1999.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/inpainting_algorithms/Nonlinear_total_variation_based_noise_removal_algo_Rudin_1999.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Discrete_Time_Signal_Processing_Oppenheim_1999.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/inpainting_algorithms/UncertaintyPrinciplesAndSignalRecoveryDonoho1987.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/compressed_sensing/MathematicalIntroductionToCompressedSensingRauhut.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/compressed_sensing/UncertaintyPrinciplesAndSignalRecoveryDonoho1987.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/compressed_sensing/Bayesian_Compressive_Sensing_Using_Laplace_Priors_Babacan_2010.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/compressed_sensing/RobustUncertaintyPrinciplesCandes2005.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/compressed_sensing/RobustUncertaintyPrinciplesExactSignalReconstruction.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/variational_methods/Variational_Bayesian_Blind_Deconvolution_Using_a_Total_Variation_Prior_Babacan_2009.pdf filter=lfs diff=lfs merge=lfs -text
Optimal_Approximations_by_Piecewise_Smooth_Functions_and_Associated_Variational_Problems_1989-Mumford-Shah.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/variational_methods/Optimal_Approximations_by_Piecewise_Smooth_Functions_and_Associated_Variational_Problems_1989-Mumford-Shah.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/variational_methods/Image_Restoration_Subject_to_a_Total_Variation_Constraint_Combettes_2004.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/variational_methods/Parameter_estimation_in_TV_image_restoration_using_Variational_Distribution_Approximation_Babacan_IEEE_2008.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/variational_methods/Astronomical_Image_Restoration_Using_Variational_Methods_and_Model_Combination_Vega_2011.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/variational_methods/Variational_Bayesian_Image_Restoration_with_a_Product_of_Spatially_Weighted_Total_Variation_Image_Priors_Chantas_2009.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/1992-FilteringSegmentationDepthNitzbergMumfordShiota.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Computer_Vision-Linda_Shapiro_2000.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/pattern_recognition/Pattern_Recognition_Pertuz_2013.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Computer_Vision_A_Modern_Approach-Forsyth_Ponce_2010.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Algorithms_for_Image_Processing_and_Computer_Vision.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/inpainting_algorithms/Stochastic_relaxation_Gibbs_distributions_and_Bayesian_restoration_of_images_Geman_1984.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Markov_Chains_Gibbs_Fields_Monte_Carlo_Simulation_and_Queues_Bremaud_1998.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Bishop-Pattern_Recognition_and_Machine_Learning.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/inpainting_algorithms/Evolution_Implementation_and_Application_of_Level_Set_and_Fast_Marching_Methods_for_Advancing_Fronts_Sethian_2000.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/inpainting_algorithms/Discrete_dynamic_programming_and_viscosity_solutions_of_the_Bellman_equation_Dolcetta_1989.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/inpainting_algorithms/Efficient_Algorithms_for_Globally_Optimal_Trajectories_Tsitsiklis_1995.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/inpainting_algorithms/Sethian/Analysis_of_Flame_Propagation_Sethian_1982.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/inpainting_algorithms/Sethian/Numerical_Algorithms_for_Propagating_Interfaces_Hamilton-Jacobi_Equations_and_Conservation_Laws_Sethian.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Do_Carmo-Differential_Geometry_of_Curves_and_Surfaces.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/inpainting_algorithms/McCaslin_2014_A_fast_marching_approach_to_multi-dimensional_extrapolation.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/inpainting_algorithms/PyKonal-A_Python_Package_for_Solving_the_Eikonal_Equation_in_Spherical_and_Cartesian_Coordinates_using_the_Fast_Marching_Method_White_et_al_2020_SRL.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/inpainting_algorithms/Sethian/sethian.actanumerica.1995.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/inpainting_algorithms/Sethian/sethian.amersci.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/inpainting_algorithms/Sethian/sethian.siam_fast.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/inpainting_algorithms/Simultaneous_cartoon_and_texture_image_inpainting_using_morphological_component_analysis_Elad_2005.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Sparse_and_Redundant_Representations_Elad_2010.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/inpainting_algorithms/Just_relax_Convex_programming_methods_for_subset_selection_and_sparse_approximation_Tropp_2004.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/inpainting_algorithms/Image_decomposition_via_the_combination_of_sparse_representations_and_a_variational_approach_Stark_2004.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/dimension_reduction/Modern_Dimension_Reduction_Waggoner_2021.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Introduction-to-multivariate-statistical-analysis_Anderson_2003.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Statistical_Pattern_Recognition_Webb_Copsey_3rdEd.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Richard_Duda_Peter_Hart_David_Stork-Pattern_classification_2001.pdf filter=lfs diff=lfs merge=lfs -text
