literature/books/Feature_Extraction_in_Computer_Vision_and_Image_Processing-Mark_Nixon_2001.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/An_Image_Inpainting_Technique_Based_on_the_Fast_Marching_Method_Telea_2004.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/inpainting_algorithms/An_Image_Inpainting_Technique_Based_on_the_Fast_Marching_Method_2004JGraphToolsTelea.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/inpainting_algorithms/Fast_Digital_Image_Inpainting_Oliveira_2001.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/inpainting_algorithms/Mathematical_Models_for_Local_deterministic_Inpaintings_Chan_2000.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/inpainting_algorithms/Multiscale_modelling_of_complex_fluids-A_mathematical_initiation_RR-6275_Le_Bris_2007.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/inpainting_algorithms/Pyramid-Based_Texture_Analysis_Synthesis_Heeger-siggraph95.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/inpainting_algorithms/sethian-1996-a-fast-marching-level-set-method-for-monotonically-advancing-fronts.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/filter_and_blur/A_Survey_of_Gaussian_Convolution_Algorithms_Getreuer_2013.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/filter_and_blur/Discrete_Approximations_of_Gaussian_Smoothing_and_Gaussian_Derivatives_Lindeberg_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/inpainting_algorithms/Inpainting_Bertalmio_annotated.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Computer_Vision_Algorithms_Applications_Szeliski_2ed_2021_draft.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Handbook_of_Computer_Vision_and_Applications_Vol1_Sensors_and_Imaging_Bernd_Jahne.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Handbook_of_Computer_Vision_and_Applications_Vol2_Signal_Processing_and_Pattern_Recognition_Bernd_Jahne.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/digital_image_processing_gonzales_4th_edition_2018.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Fundamentals_of_Image_Processing_Ian_T_Young_Delft_University_of_Technology.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Highly_Accurate_Dichotomous_Image_Segmentation_Qin_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/A_computational_approach_to_edge_detection_Canny_1986.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Building_skeleton_models_via_3-D_medial_surface-axis_thinning_algorithms_Lee_1994.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Marching_Cubes-A_High_Resolution_3D_Surface_Construction_Algorithm_lorenson-and-cline-1987.pdf diff=lfs merge=lfs -text
literature/articles/Snakes-Active_contour_models_Kass_IJCV_1988.pdf filter=lfs diff=lfs merge=lfs -text
docs/EdgeDetection_A_Farhadi_slides.pdf filter=lfs diff=lfs merge=lfs -text
docs/cds-scikit-image.pdf filter=lfs diff=lfs merge=lfs -text
docs/semantic_segmentation.pdf filter=lfs diff=lfs merge=lfs -text
docs/skimage.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Marching_Cubes-A_High_Resolution_3D_Surface_Construction_Algorithm_lorenson-and-cline-1987.pdf filter=lfs diff=lfs merge=lfs -text
src/demo_code/scikit-image-demo/images/NASA_observer.png filter=lfs diff=lfs merge=lfs -text
src/demo_code/scikit-image-demo/images/NASA_scientist.png filter=lfs diff=lfs merge=lfs -text
src/demo_code/scikit-image-demo/images/astronaut_in_weigthlessness.png filter=lfs diff=lfs merge=lfs -text
src/demo_code/scikit-image-demo/images/designer.png filter=lfs diff=lfs merge=lfs -text
src/demo_code/scikit-image-demo/images/engineer.png filter=lfs diff=lfs merge=lfs -text
src/demo_code/scikit-image-demo/images/high_level_meeting.png filter=lfs diff=lfs merge=lfs -text
src/demo_code/scikit-image-demo/images/high_level_visit.png filter=lfs diff=lfs merge=lfs -text
src/demo_code/scikit-image-demo/images/meeting.png filter=lfs diff=lfs merge=lfs -text
src/demo_code/scikit-image-demo/images/scientist.png filter=lfs diff=lfs merge=lfs -text
src/demo_code/scikit-image-demo/images/visitors.png filter=lfs diff=lfs merge=lfs -text
literature/books/2016_Book_DigitalImageProcessing.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Digital_Image_Processing_Gonzales_2017.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Principles_of_Digital_Image_Synthesis_v1.0.1.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/the-image-processing-handbook-Russ.pdf filter=lfs diff=lfs merge=lfs -text
